.blog {
  overflow: hidden;
  margin-bottom: 125px;
  text-align: center;
}

.blog h2 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
}

.blog a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 60px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
    background-color: rgba(168, 123, 98, 1);
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 40px;
  }
}

.blog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.blog__item {
  display: flex;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-color: $background-color;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 512px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &--trends {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 630px;
    background-image: url("../img/index/trends.jpg");

    @media (min-resolution: 2dppx) {
      background-size: cover;
      background-image: url("../img/index/trends@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      min-height: 300px;
      background-image: url("../img/index/trends-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/trends-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      min-height: 512px;
      background-image: url("../img/index/trends-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/trends-mobile@2x.jpg");
      }
    }
  }

  &--crystal {
    background-image: url("../img/index/crystal.jpg");
    min-height: 300px;

    @media (min-resolution: 2dppx) {
      background-size: cover;
      background-image: url("../img/index/crystal@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/index/crystal-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/crystal-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      min-height: 512px;
      background-image: url("../img/index/crystal-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/crystal-mobile@2x.jpg");
      }
    }
  }

  &--care {
    background-image: url("../img/index/care.jpg");
    min-height: 300px;

    @media (min-resolution: 2dppx) {
      background-size: cover;
      background-image: url("../img/index/care@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/index/care-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/care-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      min-height: 512px;
      background-image: url("../img/index/care-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-size: contain;
        background-image: url("../img/index/care-mobile@2x.jpg");
      }
    }
  }
}

.blog__item div {
  padding: 70px 40px 20px;
  margin-left: auto;
  margin-top: auto;
  width: 50%;
  min-height: 300px;
  background-color: $background-color;

  @media (max-width: $mobile-width) {
    margin-left: 0;
    width: 100%;
    min-height: 256px;
  }
}

.blog__item time {
  margin-bottom: 25px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $time-color;
}

.blog__item h3 {
  margin: 15px 0 40px;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
}

.blog__item a {
  margin-bottom: 10px;
}
