.header {
  padding: 30px 0 20px;

  @media (max-width: $tablet-width) {
    padding: 30px 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 20px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__wrapper input {
  border: 0;
}

.header__wrapper label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 0;
    left: -25px;
    background-image: url("../img/all-pages/loupe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, 25%);
  }
}

.header__wrapper input[type="search"]::placeholder {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $placeholder-color;
}

.header__link {
  &:not(:last-child) {
    margin-right: 35px;
  }

  &--login {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--card {
    @media (max-width: $tablet-width) {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 16px;
        top: 0;
        left: -25px;
        background-image: url("../img/all-pages/box.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(-50%, 25%);
      }
    }
  }
}

.header__link-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $font-color;

  &--card {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.header__wrapper form {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
