.new {
  margin-bottom: 130px;
  text-align: center;
}

.new__title {
  margin: 0 0 35px;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.new__link {
  position: relative;
  display: inline-block;
  margin: 0 0 60px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $font-color;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
    background-color: rgba(168, 123, 98, 1);
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 40px;
  }
}

.new__swiper {
  margin: 0 auto;
}

.new__list {
  @include list-reset;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.new__item {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 45%;
  }
}

.new__item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  &::before {
    display: none;
  }
}

.new__list img {
  margin: 0 auto 25px;

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 20px;
    width: 130px;
    height: 136px;
  }
}

.new__list h3 {
  margin: 0 0 15px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $font-color;
}

.new__list p {
  margin: 0 0 15px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: $font-color;
}
