.question {
  overflow: hidden;
  margin-bottom: 130px;
}

.question h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.question__list {
  @include list-reset;
}

.question__item {
  border: 1px solid $border-color;
  padding: 50px 38px;

  &:not(:last-child) {
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    padding: 25px 25px 15px;
  }

  &--closed p {
    display: none;
  }
}

.question__title {
  position: relative;
  margin: 0 0 20px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  user-select: none;

  @media (max-width: $mobile-width) {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 140%;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
  }

  &--opened::before {
    transform: rotate(135deg);
  }
}

.question__text {
  margin: 0 0 20px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;

  @media (max-width: $mobile-width) {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 140%;
  }

  // &--closed {
  //   display: none;
  // }
}
