.social__list {
  @include list-reset;
}

// .social__list li {

// }

.social__list a {
  display: flex;
}

.social__list p {
  display: block;
  margin: 0 0 30px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__list svg {
  @media (max-width: $mobile-width) {
    width: 20px;
    height: 21px;
  }
}
