.swiper-slide {
  width: 23%;
}

.swiper-container .swiper {
  @include button-reset;
  position: absolute;
  width: 30px;
  height: 11px;
  background-color: $basic-white;
  top: -27%;
  z-index: 2;

  &--prev {
    left: 0%;
  }

  &--next {
    right: 0%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 11px;
    background-image: url("../img/all-pages/arrow.svg");
    top: 50%;
    right: 50%;
    cursor: pointer;
  }

  &--next::before {
    transform: translate(50%, -50%) rotate(180deg);
  }

  &--prev::before {
    transform: translate(50%, -50%);
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-container .swiper-catalog {
  position: absolute;
  width: 69px;
  height: 12px;
  background-color: $basic-white;
  bottom: 0;
  z-index: 2;

  &--prev {
    left: 0%;
  }

  &--next {
    right: 0%;
  }

  &::before {
    position: absolute;
    width: 69px;
    height: 21px;
    font-family: "Poppins", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $font-color;
    cursor: pointer;
  }

  &--next::before {
    content: "Next";
  }

  &--prev::before {
    content: "Previous";
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}


.swiper-button-prev {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 0.5px solid black;
  border-radius: 50%;
  background-color: $basic-white;
  opacity: 1;

  &::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    cursor: pointer;
  }
}

.container .swiper-container {
  overflow: visible;
}

.swiper-pag {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    text-align: center;
  }
}

.swiper-container .swiper-pagination-bullet {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  color: rgba(155, 153, 151, 1);
}

.swiper-container .swiper-pagination-bullet-active {
  color: $font-color;
}
