$basic-white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.1);
$basic-black: rgba(0, 0, 0, 1);
$font-color: rgba(29, 22, 19, 1);
$placeholder-color: rgba(29, 22, 19, 1);
$grey-opacity: rgba(29, 22, 19, 0.25);
$background-color: rgba(240, 234, 228, 1);
$time-color: rgba(155, 153, 151, 1);
$border-color: rgba(168, 123, 98, 1);
$light-grey: rgba(246, 245, 244, 1);
