.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 50px;
  min-width: 0;
}

.catalog__swiper {
  position: relative;
  width: 76%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    justify-content: space-between;
  }
}

.catalog__list li {
  margin-bottom: 40px;
  width: 30.3%;

  &:not(:last-child) {
    margin-right: 3.5%;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: 30.3%;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
  }
}

.catalog__list h3,
.catalog__list p {
  margin: 0 0 15px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $font-color;
  text-align: center;
}

.catalog__list img {
  margin: 0 auto 15px;

  @media (max-width: $tablet-width) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}

.catalog__wrapper {
  width: 21.8%;

  @media (max-width: $tablet-width) {
    display: none;

    &--opened {
      display: block;
      position: fixed;
      padding: 15% 0;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
      overflow-y: scroll;
      padding-bottom: 90px;
      z-index: 10;

      @media (max-width: $mobile-width) {
        padding-bottom: 60px;
      }
    }
  }
}

.catalog__wrapper form {
  @media (max-width: $tablet-width) {
    position: relative;
    width: 64%;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    padding-top: 20px;
    padding-bottom: 40px;
    z-index: 11;

    @media (max-width: $tablet-width) {
      padding-top: 35px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      padding-bottom: 30px;
    }
  }
}

.catalog__wrapper fieldset {
  position: relative;
  padding: 28px 25px 15px;
  border: 1px solid $border-color;

  @media (max-width: $tablet-width) {
    padding: 28px 40px 15px;
    border: none;
    border-bottom: 1px solid $border-color;
  }

  &:not(:last-of-type) {
    border-bottom: none;

    @media (max-width: $tablet-width) {
      border-bottom: 1px solid $border-color;
    }
  }
}

.catalog__wrapper ul {
  @include list-reset;
}

.catalog__wrapper li {
  margin-bottom: 18px;
  margin-left: 10px;
}

.catalog__title {
  margin: 0 0 30px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    top: 27px;
    right: 50px;
    transform: rotate(-45deg);
    width: 12px;
    height: 12px;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
  }

  &--opened::before {
    transform: rotate(135deg);
  }
}

.catalog__wrapper label {
  position: relative;
  padding-left: 25px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.catalog__wrapper input + label::before {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid $border-color;
}

.catalog__wrapper input:checked + label::before {
  background-color: $border-color;
}

.catalog__wrapper button {
  @include button-reset;
  padding: 18px 15px;
  margin-top: 35px;
  width: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: 1px solid $border-color;
  background-color: $border-color;
}

.catalog__wrapper button + button {
  color: $font-color;
  background-color: white;
}

.catalog__filter-link {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 18px 15px;
    margin-bottom: 78px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: $border-color;
  }
}

.catalog__wrapper .catalog__close-button {
  display: none;

  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 11px 11px;
    background-color: $font-color;
    z-index: 12;
  }
}

.catalog__fieldset {
  &--closed ul,
  &--closed div {
    display: none;
  }
}
