.logo {
  @media (max-width: $mobile-width) {
    width: 52px;
    height: 50px;
  }
}

.logo__img {
  fill: $border-color;

  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }
}
