.modal {
  display: none;
  position: fixed;
  padding: 20% 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  overflow-y: scroll;

  &--opened {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal__inner {
  position: relative;
  width: 430px;
  min-height: 586px;
  background-image: url("../img/all-pages/modal-bg.jpg");
  background-color: $background-color;
  background-repeat: no-repeat;
  padding: 35px 45px 60px;
  margin: 15% auto 0;
  z-index: 11;

  @media (min-resolution: 2dppx) {
    background-size: contain;
    background-image: url("../img/all-pages/modal-bg@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    width: 442px;
    background-image: url("../img/all-pages/modal-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-size: contain;
      background-image: url("../img/all-pages/modal-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    padding: 10px 15px 45px;
    width: 270px;
    min-height: 470px;
    background-image: url("../img/all-pages/modal-bg-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-size: contain;
      background-image: url("../img/all-pages/modal-bg-mobile@2x.jpg");
    }
  }
}

.modal h2 {
  margin: 195px 0 35px;
  font-weight: bold;
  font-size: 45px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 34px;
  }

  @media (max-width: $mobile-width) {
    margin: 130px 0 35px;
    font-size: 24px;
  }
}

.modal input {
  width: 100%;
  color: $basic-white;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $font-color;
  margin-bottom: 10px;
  padding: 10px 25px 10px 0;
}

.modal input::placeholder {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $time-color;
}

.modal button[type="submit"] {
  @include button-reset;
  padding: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: $border-color;
}

.modal__close-button {
  margin-right: 24px;
  margin-top: 20px;
  padding: 0 7px;
}

.modal form a {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $time-color;

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.modal p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $time-color;
  margin-right: 5px;
}

.modal p + a {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $font-color;
}

.modal__wrapper {
  display: flex;
}
